<a href="https://colab.research.google.com/github/t108368071/MyProject/blob/master/2_remove25_75.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from google.colab import drive 

drive.mount('/content/gdrive')
%cd /content/gdrive/MyDrive/Colab Notebooks/

df_all = pd.read_csv("parts1_feature_normal.csv") 

num_features = ['cardiac_period', 'SUT', 'DT', 'DW_10', 'DW_25', 'DW_33', 'DW_50', 'DW_66','DW_75', 'SW_10 + DW_10', 'SW_10/DW_10', 'SW_25 + DW_25', 'SW_25/DW_25', 'SW_33 + DW_33', 'SW_33/DW_33','SW_50 + DW_50', 'SW_50 / DW_50', 'SW_66 + DW_66', 'SW_66 / DW_66','SW_75 + DW_75', 'SW_75 / DW_75','area']
target = ['systolic','diastolic']

df = df_all[num_features + target]
df.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/Colab Notebooks

   cardiac_period   SUT   DT  ...       area    systolic  diastolic
0            1880   385   45  ...   6.333591  120.156497  68.284058
1             121  1835   45  ...  27.642628  123.380207  66.965267
2             305  1593   45  ...  24.135918  134.565507  70.237822
3             811   260  106  ...   5.406768  129.632253  69.407472
4             124   705   44  ...  10.539269  130.218382  70.433198

[5 rows x 24 columns]

In [ ]:
df.describe()

       cardiac_period           SUT  ...      systolic     diastolic
count    30258.000000  30258.000000  ...  30258.000000  30258.000000
mean       144.856633     72.598817  ...    122.895324     66.008969
std        780.430221    625.007882  ...     10.767405      5.540996
min          0.000000      1.000000  ...     90.068528     60.019577
25%         85.000000     22.000000  ...    115.369774     61.690104
50%         97.000000     27.000000  ...    124.064025     64.376529
75%        108.000000     37.000000  ...    131.761727     68.479434
max      47301.000000  36951.000000  ...    138.971110     83.994197

[8 rows x 24 columns]

In [ ]:
# only some columns are striking, remove only rows where outliers are present in these columns
sus = ["cardiac_period", "SUT", "DT", "DW_10", "DW_33", "DW_50", "DW_66", "DW_75"]
to_remove = set()

indices = set()
for x in sus:
  q25, q75 = np.percentile(df.loc[:,x], [25, 75])
  intra = q75 - q25

  max = q75 + intra 
  min = q25 - intra 

  idxs_1 = df.loc[df[x] < min, x].index
  idxs_2 = df.loc[df[x] > max, x].index
  to_remove = to_remove.union(idxs_1).union(idxs_2)

In [ ]:
df.drop(to_remove, inplace=True)
df.to_csv('part_1_remove.csv')